# Assign scope to registry
${NPM_SCOPE}:registry=https:${REGISTRY_URL}

# Use authentication token for private registry
${NPM_REGISTRY}:_authToken=${NPM_TOKEN}

# Security
provenance=true

# Package accessibility
access=public