# Assign scope to registry
# ${NPM_SCOPE}:registry=${REGISTRY_URL}

# Use authentication token for private registry
${REGISTRY_URL}:_authToken=${NPM_TOKEN}
${GH_URL}:_authToken=${NPM_TOKEN}

# Security
provenance=true

# Package accessibility
access=public